{{/* Internal tile for mosaic */}}
{{ $src := .Get "src" }}
{{ $alt := .Get "alt" | default "" }}
{{ $caption := .Get "caption" }}
{{ $span := .Get "span" | default "1x1" }}
{{ $parts := split $span "x" }}
{{ $col := index $parts 0 | default "1" }}
{{ $row := index $parts 1 | default "1" }}
<div class="mosaic__tile" style="grid-column: span {{ $col }}; grid-row: span {{ $row }};">
  <img src="{{ $src }}" alt="{{ $alt }}" loading="lazy"/>
  {{ with $caption }}<div class="mosaic__caption">{{ . }}</div>{{ end }}
</div>

